.comment-modal-container {
    background-color: #8c1d40b8;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    width: 400px;
}

.comment-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 1px 1px 1px #E2D6C7;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
    /* background-color: #8c1d4078; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comment-form textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    resize: none;
    outline: none;
    transition: border-color 0.3s;
}

.comment-form textarea:focus {
    border-color: #E2D6C7;
}

.comment-submit {
    background-color: #E2D6C7;
    color: #8c1d40;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-submit:hover {
    background-color: #8c1d40;
    color: #E2D6C7;
}
