.merch-det-page {
    position: relative;
    padding: 20px;
}

.merch-details-container {
    display: flex;
    /* max-width: 1200px; */
    margin: 20px auto;
    padding: 20px;
    justify-content: space-between;
}

.merch-det-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch-det-img {
    width: 600px;
    height: 600px;
    max-width: 600px;
    max-height: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.merch-det-img-thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 8px;
}

.thumbnail.active, .thumbnail:hover {
    border: 2px solid black;
}


.merch-det-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 150px;
    height: fit-content;
    align-self: center;
    max-width: 400px;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    background: #8c26347d;

}

.merch-det-title {
    font-size: 3em;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}


.merch-det-description {
    font-size: 1.5em;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.merch-det-price {
    font-size: 1.5em;
    color: black;
}

.sold-by {
    font-size: .9em;
    color: #ffffff9e;
    margin-bottom: 5px;
}

.buy-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(242, 174, 114);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    background-color: rgb(242, 174, 114);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

.buy-now-button:hover, .back-button:hover {
    background-color: rgb(245, 148, 64);
}
