.merch-det-page {
    position: relative;
    padding: 20px;
}

.merch-details-container {
    /* max-width: 800px;
    width: 800px; */
    margin: 50px auto;
    padding: 20px;
    background: #ffffff74;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.merch-det-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #8c1d40;
    margin: 5px 0 30px;
    text-align: center;
    text-shadow: 1px 1px 1px #E2D6C7;
}

.merch-det-main {
    display: flex;
    justify-content: space-around;
}

.merch-det-left {
    display: flex;
    flex-direction: column;
}

.merch-det-img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch-det-img {
    width: 600px;
    height: 500px;
    max-width: 600px;
    max-height: 500px;
    min-height: 500px;
    min-width: 600px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.45);
}

.merch-det-img-thumbnails {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.thumbnail.active {
    box-shadow: 0 0 5px 2px #8c1d40;
}


.merch-det-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 100px;
    align-self: center;
    height: 300px;
    max-width: 400px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #8c1d407b;
    box-shadow: 1px 2px 2px #8c1d407b;
    padding: 10px;
    background-color: #ffffff41;
}

.merch-det-description {
    font-size: 1.5em;
    color: #333;
    text-shadow: 1px 1px 1px #8c1d40;
    line-height: 1.6;
    margin: 0 20px;
}

.sold-by {
    font-size: .9em;
    color: #333;
    margin: 0 20px;
    align-self: flex-start;
}

.merch-det-price {
    font-size: 1.5em;
    color: #8c1d40;
    text-shadow: 1px 1px 1px #E2D6C7;
}

.buy-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e1c7a7;
    color: #8c1d40;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    width: 100%;
}

.buy-now {
    width: 100%;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    background-color: #e1c7a7;
    color: #8c1d40;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}

.buy-now-button:hover, .back-button:hover {
    background-color: #8c1d40;
    color: #E2D6C7;
}
