.merch-page-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff30;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.merch-item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.merch-card {
    background-color: #f9f9f984;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    padding: 15px;
}

.merch-card-user {
    color: #333;
    font-size: small;
    margin-bottom: 10px;
}

.merch-card:hover {
    transform: scale(1.01);
}

.merch-image {
    width: 100%;
    height: 250px;
}

.merch-card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch-name {
    font-size: 1.2em;
    font-weight: 400;
    padding: 20px 0 10px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #8c1d40;
}

.merch-price {
    font-size: 1.1em;
    color: black;
    padding: 10px 0;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
}

.merch-card-links {
    text-decoration: none;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .1s ease-in-out;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}

.carousel-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.merch-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 10px;
    text-shadow: 2px 2px 2px #8c1d40;
}

.merch-subtitle {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #8c1d40;
    text-shadow: 1px 1px 1px #E2D6C7;
    font-weight: 500;
}

.sell-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #8c1d40;
    color: #E2D6C7;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sell-button-link {
    text-decoration: none;
}

.merch-page-container>.sell-button:hover, .signup-button:hover {
    background-color: #E2D6C7;
    color: #8c1d40;
    transform: scale(1.01);
}

.merch-page-container>.signup-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #8c1d40;
    color: #E2D6C7;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
